/* Add your CSS styles here */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
button {
  max-height: 50px;
}
.container-fluid {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 50px;
}
#headTitle {
  text-align: center;
}
.task-container {
  max-width: 750px;
  margin: 50px auto 0;
  padding: 16px;
  border-radius: 8px;
}
.task-manager {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}
#taskInput::placeholder {
  color: #b5b5b5;
}
#editTaskInput::placeholder {
  color: #b5b5b5;
}
#clearTasks {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}
#taskContainer {
  display: flex;
  justify-content: space-between;
}
#task-list {
  display: flex;
  flex: 1;
}
#task-list-form {
  display: flex;
  align-items: center;
  padding-right: 12px;
  gap: 12px;
}
#flexCheckDefault {
  margin-left: 0;
  margin-top: 0;
}
#check-label {
  font-size: 18px;
}
